<div class="note notecard">
  <%= @question.capitalize %>
  <p class="the-answer">-You</p>

</div>

<div class="note-coach">
  <p id="boldness"><%= @answer %></p>
  <p class="the-answer">-Your coach</p>
</div>

<p style="color: blue">Ask a new question</p>
