<p>Ask your coach anything:</p>
 <div>
      <form class="container-flex" action="/answer" method="get">
        <input class="field-question"
               type="text"
               name="question"
               placeholder="Write your question?"
               value="<%= params[:question] %>">
        <input class="buttom" type="submit" value="Ask">
      </form>
 </div>
