<p>Ask your coach anything:</p>
 <div>
      <form class="field-question" action="/answer" method="get">
        <input type="text" name="question" placeholder="Write your question?" value="<%= params[:question] %>">
        <input type="submit" value="Ask">
      </form>
 </div>
